<h2>Create New Event Host</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input id="" class="form-conrol" type="text" placeholder="" />
        </div>
</form>

<!--t.string :name
t.string :email
t.string :motto
t.string :city
t.string :state
t.string :country
t.string :contact_name-->